<div class="conteudo">
  <section>
    <div class="form">
      <form>
        <input type="search" [ngClass]="{'ativo':isOculto,'oculto':isOculto}">
      </form>
      <button id="buttonsearch" (click)="mudarestado()"><span class="material-icons">search</span></button>
    </div>

    <h2>Grass</h2>
    <h1>Plants</h1>
    <img [src]="imgsOne" alt="">
    <h3>Turn pot plants</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil incidunt ut, excepturi voluptas
      reprehenderit possimus eaque praesentium, quos distinctio ea similique, sunt eos assumenda fuga sequi?
      Porro saepe nulla expedita!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil incidunt ut, excepturi voluptas
      reprehenderit possimus eaque praesentium, quos distinctio ea similique, sunt eos assumenda fuga sequi?
      Porro saepe nulla expedita!</p>
  </section>
  <section>
    <img [src]="imgsTwo" alt="">
    <h3>Turn pot plants</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil incidunt ut, excepturi voluptas
      reprehenderit possimus eaque praesentium, quos distinctio ea similique, sunt eos assumenda fuga sequi?
      Porro saepe nulla expedita!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil incidunt ut, excepturi voluptas
      reprehenderit possimus eaque praesentium, quos distinctio ea similique, sunt eos assumenda fuga sequi?
      Porro saepe nulla expedita!</p>
  </section>
</div>
